<div class="row animated fadeIn fast">

    <div class="col-4">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Users</h4>
                <h6 class="card-subtitle">Total users found ({{users.length}})</h6>

                <div *ngIf="users.length === 0" class="alert alert-info animated fadeIn fast" role="alert">
                    <p class="mb-0">no users found</p>
                </div>

                <div *ngIf="users.length > 0" class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Avatar</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of users" class="animated fadeIn fast">
                                <td>
                                    <img [src]="user.img | image: 'users'" alt="avatar" class="w50">
                                </td>
                                <td>{{ user.name }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Doctors</h4>
                <h6 class="card-subtitle">Total dotors found ({{doctors.length}})</h6>

                <div *ngIf="doctors.length === 0" class="alert alert-info animated fadeIn fast" role="alert">
                    <p class="mb-0">no doctors found</p>
                </div>

                <div *ngIf="doctors.length > 0" class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let doctor of doctors" (click)="openDoctor(doctor)" class="animated fadeIn fast cursor">
                                <td>
                                    <img [src]="doctor.img | image: 'doctors'" alt="avatar" class="w50">
                                </td>
                                <td>{{doctor.name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Hospitals</h4>
                <h6 class="card-subtitle">Total hospitals found ({{hospitals.length}})</h6>

                <div *ngIf="hospitals.length === 0" class="alert alert-info animated fadeIn fast" role="alert">
                    <p class="mb-0">no hospitals found</p>
                </div>

                <div *ngIf="hospitals.length > 0" class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let hospital of hospitals" class="animated fadeIn fast">
                                <td>
                                    <img [src]="hospital.img | image: 'hospitals'" alt="avatar" class="w50">
                                </td>
                                <td>{{hospital.name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>