<div class="row animated fadeIn fast">
    <div class="col">
        <div class="card">
            <div class="card-body">

                <input type="text" class="form-control" placeholder="Search doctor..." (keyup)="search(txtTerm.value)" #txtTerm>

            </div>
        </div>
    </div>
</div>

<div *ngIf="loading" class="row animated fadeIn fast">
    <div class="col">
        <div class="alert alert-info text-center" role="alert">
            <h4 class="alert-heading">
                Loading
            </h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Please wait</p>

        </div>
    </div>
</div>

<div *ngIf="!loading" class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h4 class="card-title">Doctors ({{doctors.length}})</h4>
                        <h6 class="card-subtitle">List of doctors</h6>
                    </div>
                    <div class="col">
                        <div class="text-right">
                            <button (click)="navitetoDoctorById('new')" class="btn btn-primary">
                                <i class="fa fa-user-o"></i>
                                Create Doctor
                            </button>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="w100">Photo</th>
                                <th>Name</th>
                                <th class="text-nowrap w100">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let doctor of doctors">
                                <td (click)="openModal(doctor)" class="text-center">
                                    <img [src]=" doctor.img | image: 'doctors' " [alt]=" doctor.name " class="w50 cursor">
                                </td>
                                <td>{{ doctor.name }}</td>
                                <td class="text-nowrap text-center">
                                    <a (click)="navitetoDoctorById(doctor._id)" data-toggle="tooltip" data-original-title="Edit" class="cursor">
                                        <i class="fa fa-pencil text-inverse m-r-10"></i>
                                    </a>
                                    <a (click)="deleteDoctor(doctor)" data-toggle="tooltip" data-original-title="Remove" class="cursor">
                                        <i class="fa fa-close text-danger"></i>
                                    </a>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>

                <button class="btn btn-secondary">
                    <i class="fa fa-arrow-left"></i>
                    Previous
                </button> &nbsp;
                <button class="btn btn-secondary">
                    Next
                    <i class="fa fa-arrow-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>